In [2]:
# python_candlestick_chart.py

import matplotlib.pyplot as plt
from mpl_finance import candlestick_ohlc
import pandas as pd
from datetime import datetime
import mplfinance as mpf
import matplotlib.dates as mpl_dates
plt.style.use('ggplot')

In [15]:
experiment = 'processed/image_data/period/2016-06-30---2019-10-03---1d---10'

for el in os.listdir(experiment):
    print(el, len(os.listdir(experiment + '/' + el)))

0 1414
1 1421
2 1414
3 1414

In [9]:
data = pd.DataFrame([1,2,4,2,1,1,-1,1,2,3,4,3,2,3,2,1])

In [12]:
data['pct'] = data.pct_change()
bins = 4

In [13]:
data['pct_change_bins'] = pd.qcut(data['pct'], q=bins, labels=[x for x in range(0, bins)])

In [14]:
data

    0       pct pct_change_bins
0   1       NaN             NaN
1   2  1.000000               3
2   4  1.000000               3
3   2 -0.500000               0
4   1 -0.500000               0
5   1  0.000000               2
6  -1 -2.000000               0
7   1 -2.000000               0
8   2  1.000000               3
9   3  0.500000               2
10  4  0.333333               2
11  3 -0.250000               1
12  2 -0.333333               1
13  3  0.500000               2
14  2 -0.333333               1
15  1 -0.500000               0